<h2>All Addresses</h2>

<% if @addresses.empty? %>
  <p>You don't have any addresses yet.</p>
<% else %>
  <section class="all-addresses">
    <% @addresses.each do |address| %>
    <div id="address-<%= address.id %>">
      <h6><%= address.nickname %></h6>
      <p><%= address.address %></p>
      <p>
        <%= address.city %>,
        <%= address.state %>
        <%= address.zip %>
      </p>
    </div>
    <% end %>
  </section>
<% end %>

<%= link_to 'Add an Address', new_profile_address_path %>
