<h2>Change Address</h2>

<section class="all-addresses">
  <% @user.addresses.each do |address| %>
  <div id="address-<%= address.id %>">
    <p><%= address.address %></p>
    <p>
      <%= address.city %>,
      <%= address.state %>
      <%= address.zip %>
    </p>
    <% if address.id != @order.address.id %>
      <%= button_to "Use Address", order_address_change_path(order_id: @order, address_id: address.id), method: :patch %>
    <% end %>
  </div>
  <% end %>
</section>
