<%= form_for @user, url: form_submit_path do |f| %>
<p>
  <%= f.label :name %>:
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :email %>:
  <%= f.text_field :email %>
</p>

  <% if !current_user %>
    <%= f.fields_for :addresses do |a| %>
    <p>
      <%= a.label :address %>:
      <%= a.text_field :address %>
    </p>

    <p>
      <%= a.label :city %>:
      <%= a.text_field :city %>
    </p>

    <p>
      <%= a.label :state %>:
      <%= a.text_field :state %>
    </p>

    <p>
      <%= a.label :zip %>:
      <%= a.text_field :zip %>
    </p>
    <% end %>
  <% end %>

<p>
  <%= f.label :password %>:
  <%= f.password_field :password %>
</p>

<p>
  <%= f.label :password_confirmation %>:
  <%= f.password_field :password_confirmation %>
</p>

<p>
  <%= f.submit "Submit" %>
</p>
<% end %>
